@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;500;600;700&display=swap');

:root {
  --color-background: #0f0f0f;
  --color-text: white;

  --font-body: 'IBM Plex Sans';

  --fontweight-thin: 100;
  --fontweight-regular: 400;
  --fontweight-medium: 500;
  --fontweight-semibold: 600;
  --fontweight-bold: 700;

  --fontsize-xs: 8px;
  --fontsize-sm: 10px;
  --fontsize-md: 12.5px;
  --fontsize-lg: 15px;

  --spacing-xxs: 0.3rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.8rem;
  --spacing-md: 1.2rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 4rem;
  --spacing-xxxl: 8rem;

  --shadow-md: 0 .5rem 1rem rgba(0,0,0,.15);

  --padding-header: 15px;
  --padding-page: 15px;

  --height-brand: 26px;

  @media screen and (min-width: 768px) {
    --fontsize-sm: 12px;
    --fontsize-md: 13px;

    --padding-header: 20px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: var(--fontweight-medium);
  font-size: var(--fontsize-md);
  background-color: var(--color-background);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  cursor: pointer;
  color: var(--color-text);
  font-weight: var(--fontweight-medium);
  background-color: transparent;
  border: none;
}

hr {
  border: 0 none;
  height: 1px;
  background-color: var(--color-text);
  opacity: 0.2;
}

.scrollbar-visible {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
      width: 8px;
  }

  &::-webkit-scrollbar:horizontal {
      height: 8px;
  }

  &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid var(--color-background); /* should match background, can't be transparent */
      background-color: rgba(255, 255, 255, 0.5);
  }
}
