@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-background: #0f0f0f;
  --color-text: #a7a7a7;
  --color-accent: #00ff08;

  --font-heading: Raleway;
  --font-body: Poppins;
  --font-number: Mukta;

  --fontsize-small: 13.33px;
  --fontsize-normal: 15px;

  --spacing-xs: 0.3rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.8rem;
  --spacing-xl: 3rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: var(--fontsize-normal);
  background-color: var(--color-background);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-text);

  &:hover {
    color: var(--color-accent);
  }
}

button {
  cursor: pointer;
  color: var(--color-text);
}
